form fieldset {
	border: none;
}

form fieldset + fieldset {
	margin-top: 3.5rem;
}

form fieldset legend {
	color: var(--color-card-title);

	font-family: IBM Plex Sans;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.625rem;
}

fieldset .separator {
	margin-bottom: 2rem;
}

form .input-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1.5rem;
}
form .input-group .input-wrapper {
	flex: 1;
	min-width: 230px;
}

label {
	display: inline-block;

	font-family: IBM Plex Sans;
	font-weight: 500;
	color: var(--color-card-question);

	margin-bottom: 1rem;
}

input {
	font-family: IBM Plex Sans;
	font-weight: 500;

	background: var(--color-card-input-background);

	border: 1px solid #f1f1f1b6;
	outline: none;
	border-radius: 0.313rem;

	padding: 0.75rem 1.5rem;

	width: 100%;

	color: var(--color-card-input);
}

input:focus {
	border: 1px solid var(--color-save);
}

::placeholder {
	color: var(--color-card-input-placeholder);
}
